<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }} - Main</title>
    {% else %}
        <title>Welcome - Main</title>
    {% endif %}
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>
<body>
    <div>
        <ul class="navbar">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('find_builds') }}">Find builds</a></li>
            <li><a href="{{ url_for('make_xls') }}">Make XLS</a></li>
            <li><a href="{{ url_for('single_setup') }}">Single Setup only</a></li>
        </ul>
    </div>
{#    <hr>#}
    <div style="margin-left: 10%">
      {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    {% block content %}{% endblock %}
    </div>
</body>
</html>

