{% extends "base.html" %}

{% block content %}
    <h2>Find setups for full test set</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.build.label }}<br>
            {{ form.build(size=4) }}<br>
            {% for error in form.build.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.tag.label }}<br>
            {{ form.tag(size=32) }}<br>
            {% for error in form.tag.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}

        </p>
    <hr>
        <p>{{ form.cfw() }} {{ form.cfw.label }}</p>
        <p>{{ form.lab() }} {{ form.lab.label }}</p>
        <p>{{ form.nx() }} {{ form.nx.label }}</p>
        <p>{{ form.pro() }} {{ form.pro.label }}</p>
        <p>{{ form.se() }} {{ form.se.label }}</p>
        <p>{{ form.v5() }} {{ form.v5.label }}</p>
        <p>{{ form.submit() }}</p>
    <br>
    </form>
{% endblock %}}